#breadcrumbs{
	margin-bottom: 12px;
	line-height: 21px;
	margin-top: 24px;
	overflow: hidden;
	font-size: 12px;
}

#breadcrumbs ul{
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}

#breadcrumbs ul li{
	vertical-align: middle;
	display: inline-block;
}

#breadcrumbs ul li a{
	text-decoration: none;
	display: inline-block;
	line-height: 21px;
}

#breadcrumbs .arrow{
	vertical-align: middle;
	display: inline-block;
	font-family: arial;
	font-size: 18px;
	margin: 0 12px;
}